* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #ed4264;
  background: -webkit-linear-gradient(to right, #ffedbc, #ed4264);
  background: linear-gradient(to right, #ffedbc, #ed4264); */
}
html {
  background-image: url("../assets/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  transition: 0.5;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
  max-height: 100%;
}
.headerSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
}
.title {
  font-family: cursive;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #8dbaff;
  text-shadow: 3px 3px 5px black, 3px -3px 5px blue;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.subtitle {
  font-family: cursive;
  color: #1d77ff;
  font-weight: 900;
  text-shadow: 1px 1px 1px black, -1px 1px 1px blue;
  text-transform: capitalize;
  text-align: center;
}
.paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}
.login-box {
  background: whitesmoke;
  box-shadow: 1px 1px 1px blue, -1px -1px -1px black;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 5em;
  max-width: 50%;
  transition-timing-function: ease-in-out;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.login {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  color: rgb(56, 56, 246);
  margin-bottom: 1em;
}

.loginForms {
  display: flex;
  flex-direction: column;
  padding: 10;
  gap: 2rem;
  margin: 5%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.SignupForms {
  display: flex;
  flex-direction: column;
  padding: 10;
  gap: 2rem;
  margin: 5%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.inputs-classes {
  width: 400px;
  max-height: 50px;
  border-width: 2px;
  border-color: #8dbaff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.login-button {
  width: 200px;
  height: 40px;
  border: none;
  padding: 5px;
  background-color: #8dbaff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-transform: capitalize;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.icon-button {
  border: none;
  background-color: #1d77ff;
  color: azure;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px;
}
#sign-hide {
  display: none;
  transition-timing-function: linear;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

#login-hide {
  transition-timing-function: linear;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.transitionSignup {
  transition-timing-function: linear;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  background: red;
}
@media (width <=400px) {
  .login-box {
    max-width: 300px;
  }
  .inputs-classes {
    max-width: 200px;
  }
  html {
    height: 100dvh;
  }
}
@media (width >=600px) {
  .login-box {
    max-width: 500px;
  }
  .inputs-classes {
    max-width: 500px;
  }
  html {
    height: 100dvh;
  }
}
