* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  overflow: hidden;
  margin: auto;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 28px;
  border: 1px solid #c39f76;
  box-sizing: border-box;

  resize: horizontal;
  border-image: linear-gradient(to right, blue, red, orange) 1 1 1 1;
  border-width: 3px;

}
:root {
  counter-reset: heading;
  
}
h2 {
  counter-increment: heading;
}
h2::before {
  content: counter(heading);
  background-color: blue;
  color: white;
  padding: 0.15em 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 40px;
  text-align: center;
}
/* TODO::for usingn and seeing what is going on just uncomment the box before classes */
/* .box::before {
  content: "Css Challege";
  text-shadow: -60px -130px, 60px -80px, 0px -50px, -60px -30px, 5px 13px,
    40px -70px, 30px 80px, -20px 50px, 50px 83px, -10px 130px;
} */
/* .box::before{
    content: "hello css";
    text-transform: capitalize;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
     
} */
/* .box::before {
  content: "hello world";
  text-transform: capitalize;
  -webkit-mask: linear-gradient(90deg, #000, #0002);
} */
/* .box:after {
  content: "Hello World";
}

.box:before {
  position: absolute;
  content: "    o    l ";
  color: #c39f76;
} */
/* .box::before{
    content: "CSS ";
}
.box::after{
    content: "CPP ";
    margin-bottom: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
} */
/* 
.box::after {
  content: "Mein  Name ist Hussain ";
  clip-path: inset(0 0 19px 0);
  margin-top: -3px;
}
.box::before {
  position: absolute;
  content: "Mein  Name ist Hussain ";
  clip-path: inset(15px 0 0 0);

} */
/* .box {
  display: block;
  padding: 133px 0 0 64px;
}
.box::before
 {
  content: "He\a             l";
  font-size: 70%;
  line-height: 0;
  white-space: pre;
}
.box::after {
  display: inline-block;
  content: "l  o";
  transform: translate(2Q, 3Q) scale(0.65);
  padding: 14Q 0;
  background: radial-gradient(4Q at 81%66%, #0000 30%, #000 45% 70%, #0000 85%);
}
.box::first-letter {
  font-size: 100px;
  margin: 12px;
}
.box::first-line {
  font-size: 3em;
} */
/* .box::before {
  content: "Hello";
  background: #fff;
  color: black;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.box::after {
  content: "World";
  background: #000;
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
} */
/* 
.box {
  overflow: hidden;
}
.box::before {
  content: "Hello World";
  animation: 5s infinite;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-name: hello;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation: hello 2s linear infinite;
  text-indent: -24ch;
  content: "Hello World";
  text-shadow: 24ch 0, 12ch 0, -12ch 0, -24ch 0;
}
@keyframes hello {
  to {
    transform: translateX(12ch);
  }
} */
.box::before {
  content: "Hello CSS World";
  font-family: "Times New Roman", Times, serif;
  font-size: 3ch;
  font-weight: bold;
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}
.layout-container{
  width: min(1000px , 100%);
  margin: 0 auto;
  columns: 3 300px;
  column-gap: 1em;

}
img{
  display: block;
  margin-bottom: 1em;
  width: 100%;
   mask: 
    radial-gradient(30px at 75% 100%,#0000 98%,#000) 50% calc(100% - 30px)/120px 100% repeat-x,
    radial-gradient(30px at 25% 50%,#000 99%,#0000 101%) bottom/120px 60px repeat-x

}